# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Titanium'
    'submenu':[
        {'label':'New Project'
        'submenu':[
          {'label': 'Classic App', 'command': 'ti-atom:createapp'},
          {'label': 'Alloy App', 'command': 'ti-atom:createalloyapp'}
        ]},
        {
          'label' : 'Run As'
          'submenu' :[
            {'label' : 'TiShadow', 'command': 'ti-atom:shadowrun'}
          ]
        }
    ]

  }
]
